<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link rel="stylesheet" href="{% static "styles/style.css" %}">
    <title>Рыбалка</title>
  </head>
  <body>
     <h1>Рыбалка в Бресте</h1>
    <img src="{% static "images/fish2.png" %}" width="456" height="456" alt="Рыба">
    <ul>
        <li>Воблеры</li>
        <li>Отводной поводок</li>
    </ul>

      <script src="{% static 'js/main.js' %}"></script>

  </body>
 <BUTTON>Change user</BUTTON>
</html>